@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  @apply 	bg-almond h-screen;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#__next {
  @apply h-screen;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply bg-transparent hover:bg-brown text-brown font-semibold hover:text-almond py-2 px-4 border border-brown hover:border-transparent mx-auto block
}

.input {
	@apply border-2 border-brown block p-2 mb-2 w-full
}
